<!-- flip-card-container -->
<html>

<head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/card.css') }}">


</head>


  <!-- flip-card-container -->
  <div class="flip-card-container" style="--hue: 470">
    <div class="flip-card">

      <div class="card-front">
        <figure>
          <div class="img-bg"></div>

<!--          <img src="https://images.unsplash.com/photo-1603483775018-b4b52b1e120c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjB8fGNhZmV8ZW58MHx8MHxibGFjaw%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Image 2">-->
       <img src="{{ url_for('static',filename='/styles/images1/food.jpg') }}">
          <figcaption>Onilne Food Order  Feedback </figcaption>

        </figure>

        <ul>

          {% for i in feedback.items() %}

          <li> {{ i[0]  }} : {{ i[1] }} </li>


          {% endfor %}
        </ul>
      </div>

      <div class="card-back">
        <figure>
          <div class="img-bg"></div>

                 <img src="{{ url_for('static',filename='styles/images1/food.jpg') }}">

<!--          <img src="https://images.unsplash.com/photo-1603483775018-b4b52b1e120c?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjB8fGNhZmV8ZW58MHx8MHxibGFjaw%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="image-2">-->
        </figure>
         <figcaption>Next time customer Buy Or Not  </figcaption>
        <h2> Probability </h2>

        <h3>{{ probability }}</h3>


        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>

    </div>
  </div>
  <!-- /flip-card-container -->
<!-- <a style="color:green;font-weight: bold;position: absolute;-->
<!--    margin-top: 45%;-->
<!--    width: 50%;-->
<!--    margin-left: 100%;" class="link-data" href="http://localhost:8078/admin/fetch_data"> Customer Feedback Records  </a>-->



  </html>